<!DOCTYPE HTML>
<html>
<head>
	<title>Home - Test Frontend - Facundo Di Pierro - Mercadolibre</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% include 'head.twig' %}
</head>
<body>
	<div class="container-fluid">
		
		{% include 'search.twig' %}

	</div>
</body>
</html>